name: Deploy to Apache Tomcat

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Download Java package from GitHub Packages
        run: |
          # Download the Java package using curl
          curl -sSL -o package.war https://github.com/pravesh-77/publish-java-package-with-maven/packages/1.2/contents/java-maven5-1.1.war?ref=main
          # Alternatively, use wget:
          # wget -q -O package.war https://github.com/pravesh-77/publish-java-package-with-maven/packages/1.2/contents/java-maven5-1.1.war?ref=main

      - name: Deploy to Apache Tomcat
        run: ansible-playbook -i localhost, -c local ansible_deploy.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITUSER_TOKEN }}
